body {
    background-color: gray;
}

@font-face {
    font-family: "prida";
    src: url("fonts/Prida61.otf");
}

.title {
    font-family: prida;
    font-size: 2em;
    font-weight: bold;
    stroke: black;
    stroke-width: 1px;
    fill: blue;
    fill-opacity: 0.5;
}

svg svg:hover rect {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

svg svg:hover text {
    filter: invert(72%) sepia(51%) saturate(878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

button {
    font-family: prida;
    font-size: 2em;
}
